*
{
    
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Helvetica;
    font-size: 22pt;
}

:root
{
    --primary:  rgb(34, 98, 172);
    --secondary:  #2c2c2c;
    --tertiary: darkgrey;
}

body
{
    background-color: silver;
}

header
{
    display: flex;
    background-color: var(--primary);
    color: white;
    position: sticky;
    top: 0;
    height: 100px;
    width: 100%;
}

.Logo
{
    display: inline-flex;
    height:auto;
    gap: 1em;
    padding-left: 5em;
    align-items: center;
    text-shadow: darkblue 3px 0px 5px;
}

.Navigation
{
    display: flex;
    background:  linear-gradient(0.45turn, var(--primary) 20%, var(--secondary) 10%);
    height: auto;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 8;
    padding-right: 10em;
}

nav>a
{
    padding-left: 3em; 
    font-size: 18pt;
    color: white;
    text-decoration: none;
}

.Logo img
{
    display: inline-flex;
    height: 2.5rem;
}

main
{
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: center;
    align-items: center;
}

.About
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    height: 300px;
    background-color: var(--secondary);
}

.About article
{
    display: flex;
    flex-direction: column;
    font-size: 16pt;
    align-items: center;
    line-height: 2;
}

.Gallery
{
    margin-top: 5em;
    margin-bottom: 5em;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    width: 40rem;
    height: auto;
    padding: 2em;
    flex-wrap: wrap;   
    border-radius: 0.5em;
}

.Card
{
    display: block;
    background-color: white;
    width: 10em;
    height: 15em;
    border-radius: 10px;
}


footer
{
    background-color: var(--secondary);
    height: 100px;
    width: 100%;
}

@media(width < 768px)
{
    body
    {
        background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#050505)) fixed;
    }
    .Toggle
    {
        display:inline-block;
    }

    .Items
    {
        display: none;
    }

    .CTA
    {
        display: none;
    }
}

